In [24]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {'名前': {1:'山田', 2:'鈴木', 3:'佐藤', 4:'田中', 5:'斉藤'},   # 長さ：５
     '年齢': np.array([20, 34, 50, 12, 62]),                           # 長さ：5
     '性別':pd.Series(['男', '男', '女', '男', '女'])},                        # 長さ:5
    columns=['名前', '性別', '年齢'],
    index = [1,2,3,4,5]　
)

SyntaxError: invalid character in identifier (<ipython-input-24-9892ea521506>, line 9)

In [16]:
df

   名前   性別  年齢
1  山田    男  20
2  鈴木    女  34
3  佐藤    男  50
4  田中    女  12
5  斉藤  NaN  62